<html>
  <head>
    <title>Pi Video Surveillance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=cadre>
      <h1>Pi Video Surveillance</h1>
      <img id=imgframe
         src="{{ url_for('video_feed') }}" 
         alt="img streaming" 
         width="640" 
         height="380">
      <div class=control>
        <div id=crossCenter>
          <div class=crossButton id=crossTop>&uarr;</div>
          <div class=crossButton id=crossBottom>&darr;</div>
          <div class=crossButton id=crossLeft>&larr;</div>
          <div class=crossButton id=crossRight>&rarr;</div>
          <div id=crossCircle></div>
        </div>
        <div class=message>
        
        
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>